#Server Port
PORT=3000

#Server Postgres DB config (Wheres the databese hosted?)
DB_HOST=host
DB_PORT=5432
DB_NAME=postgresDB
DB_USER=postgres
DB_PASSWORD=postgres

JWT_SECRET=JWT_SECRET_KEY

#First Admin user credentials
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=admin

#Postgres configuration for docker-compose
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgresDB
POSTGRES_PORT=5432
